<ion-header>
	<ion-toolbar>
		<ion-title> Restaurantes</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
    <ion-card-header>
      <ion-card-title> Restaurante e Pizzaria da Ani </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle> Antendimento no App apenas Pizzas	</ion-card-subtitle>
      <br>
      <br>
      <br>
      <ion-button color="danger" href='cardapiolista'> Ver Cardapio </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>


</ion-footer>
