<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro de Estabelecimeno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-card>
    <ion-card-header>
      <ion-card-title> Cardapio: </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle> ITEM 1: </ion-card-subtitle>
      <br>
      ITEM: <ion-input placeholder=" EXEMPLO: PIZZA " [(ngModel)]='cardapio.item'> </ion-input>
      <br>
      TAMANHO: <ion-input placeholder=" EXEMPLO(SEPARE COM VIRGULAS): P, M, G, GG  " [(ngModel)]='cardapio.tamanho'> </ion-input>
      <br>
      VALOR : <ion-input placeholder=" EXEMPLO(COLOQUEM EM ORDEM COM RELAÇÃO AOS TAMANHOS, SEPARADO POR ; ): 20,90; 30,90; 40,90;" [(ngModel)]='cardapio.valor'> </ion-input>
      <br>
     SABORES: <ion-input placeholder=" EXEMPLO(Separe por ;): Frango; Frango Catupiry " [(ngModel)]='cardapio.sabor'> </ion-input>
      <br>
	</ion-card-content>
 </ion-card>	

  <ion-card>
    <ion-card-header>
      
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="full" color="success" (click)='cardapioS()' href="estabEntrar"> CADASTRAR CARDAPIO </ion-button>

    </ion-card-content>


  </ion-card>

</ion-content>

<ion-footer>

</ion-footer>
