<ion-header>
	<ion-toolbar>
		<ion-title> Cardapio </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card *ngFor="let cardapio of listaCardapio | async">
    	<ion-card-header>
      		<ion-card-title> Itens e Valores: </ion-card-title>
    	</ion-card-header>
    	
       	<ion-card-content>
			<ion-list>
				<ion-item>
					Item:
					<ion-label><h2><b>  {{ cardapio.item }}  </b> </h2></ion-label>
					</ion-item>
					
					<ion-item>
					<ion-label>Tamanhos: <br> {{ cardapio.tamanho }}  </ion-label>
				</ion-item>
				
				<ion-item>
					<ion-label> Valores:<br>  {{ cardapio.valor }}  </ion-label>
				</ion-item>
				
				<ion-item>
					<ion-label> Sabores:<br> {{ cardapio.sabor }} </ion-label>
				</ion-item>
				
			</ion-list>
			<br>
      		<ion-button color="danger" href='makePedido'> Criar Pedido </ion-button>
    	</ion-card-content>
  </ion-card>
  		<ion-button href='establista'> Voltar </ion-button>
  		<br>
  		<br>
  		<br>
  		
  

</ion-content>

<ion-footer>
  	

</ion-footer>
