<ion-header>
	<ion-toolbar>
		<ion-title> Cardapio </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
    <ion-card-header>
      <ion-card-title> Restaurante e Pizzaria da Ani </ion-card-title>
    </ion-card-header>
    <ion-card-content>
       Pizzas Tamanho: P, M , G , GG
       <br>
       Valores: P = 10,00 / M = 15,00 / G = 30,00 / GG = 50,00
      <br>
      Sabores:
      <br>
      Frango Com Catupiry
      <br>
      Calabresa
      <br>
      Bacon
      <br>
      <ion-button color="danger" href='makePedido'> Criar Pedido </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>


</ion-footer>
