<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro de Estabelecimeno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <ion-card-header>
      <ion-card-title> Novo Estabelecimento: </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle> Dados de Loja: </ion-card-subtitle>
      <form #meuForm='ngForm'>
        <br>
        Nome do Dono:
        <ion-item>
          <ion-input [(ngModel)]='estabelecimento.nome'> </ion-input>
        </ion-item>
        <br>
        Sobrenome do Dono:
        <ion-item>
          <ion-input [(ngModel)]='estabelecimento.sobrenome'> </ion-input>
        </ion-item>
        <br>
        CPF(Apenas Numeros):
        <ion-item>
          <ion-input [(ngModel)]='estabelecimento.cpf'> </ion-input>
        </ion-item>
        <br>
        Nome da Loja:
        <ion-item>
          <ion-input #lojanome='ngModel' Type='text' [(ngModel)]='estabelecimento.lojanome' name='lojanome' required>
          </ion-input>
          <span style='color:red' *ngIf="lojanome.errors && lojanome.touched">
            <ion-label> campo obrigatório!</ion-label>
          </span>

        </ion-item>
        <br>
        CNPJ(Apenas Numeros):
        <ion-item>
          <ion-input #cnpj='ngModel' Type='text' [(ngModel)]='estabelecimento.cnpj' name='cnpj' required></ion-input>
          <span style='color:red' *ngIf="cnpj.errors && cnpj.touched">
            <ion-label> campo obrigatório!</ion-label>
          </span>
        </ion-item>
        <br>
        Endereço da Loja:
        <ion-item>
          <ion-input #end='ngModel' Type='text' [(ngModel)]='estabelecimento.end' name='end' required></ion-input>
          <span style='color:red' *ngIf="end.errors && end.touched">
            <ion-label> campo obrigatório!</ion-label>
          </span>
        </ion-item>
        <br>
        Numero(Apenas Numeros):
        <ion-item>
            <ion-input #nloja='ngModel' Type='text' [(ngModel)]='estabelecimento.nloja' name='nloja' required></ion-input>
            <span style='color:red' *ngIf="nloja.errors && nloja.touched">
              <ion-label> campo obrigatório!</ion-label>
            </span>
        </ion-item>
        <br>
        Bairro:
        <ion-item>
          <ion-input [(ngModel)]='estabelecimento.bairro'> </ion-input>
        </ion-item>
        <br>
      </form>
    </ion-card-content>

  </ion-card>

  <ion-item>
    <ion-label position="floating">Cidade</ion-label>
    <ion-select [(ngModel)]="estabelecimento.cidade">
      <ion-select-option *ngFor='let cidade of listaCidade | async' [value]="cidade">
        {{cidade.nome}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Estado</ion-label>
    <ion-select [(ngModel)]="estabelecimento.estado">
      <ion-select-option *ngFor='let cidade of listaCidade | async' [value]="estado">
        {{cidade.estado}}
      </ion-select-option>
    </ion-select>
  </ion-item>



  <ion-button expand="full" color="success" href='salvar'> CADASTRAR CIDADE </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Dados de Conta
      </ion-card-title>
    </ion-card-header>



    <ion-card-content>
      Email:
      <ion-item>
        <ion-input #email='ngModel' Type='text' [(ngModel)]='estabelecimento.email' name='email' required></ion-input>
      </ion-item>
      <span style='color:red' *ngIf="email.errors && email.touched">
        <ion-label> campo obrigatório!</ion-label>
      </span>
      <br>

      Senha:
      <ion-item>
        <ion-input type="password" [(ngModel)]='estab.senha'> </ion-input>
      </ion-item>

      <br>
      <ion-button expand="full" color="success" (click)='estabelecimentoS()' href="cardapioCad"> CADASTRAR </ion-button>

    </ion-card-content>


  </ion-card>

</ion-content>

<ion-footer>

</ion-footer>
